//colors
$blue: #94b0ff;
$lightblue: #eff3ff;
$placeholder-color: #c6d5ff;
$orange: #f1c40f;
$danger: #fe406b;
$extra: #1ead4a;
$gradient: linear-gradient(169.16deg, $orange -1.13%, #e74c3c 122.75%);
