@import './constants';
@import './utils/fonts';
@import './utils/mixins';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
}

body {
  color: #495061;
}

body > .content,.wrapContent{
  min-height: 100vh;
}
