@font-face {
  font-family: 'GothamPro', sans-serif;
  src: url('/src/styles/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'GothamPro', sans-serif;
  src: url('/src/styles/fonts/GothamPro.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'GothamPro', sans-serif;
  src: url('/src/styles/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
}
