.row {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  .col {
    margin-right: 20px;
    flex: 1 1 auto;
    &:last-of-type {
      margin: 0px;
    }
  }
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
