h1 {
  font-weight: bold !important;
  font-size: 64px !important;
  line-height: 72px !important;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px !important;
    line-height: 112.2% !important;
    text-align: center !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GothamPro', sans-serif !important;
  font-weight: bold;
}
label {
  display: block;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 10px;
}

button {
  outline: none !important;
  @include resetButton;
}

textarea {
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  min-height: 60px;
  overflow: auto;
  border: 1px solid $blue;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  resize: none;
  caret-color: $orange;

  &:disabled {
    color: $blue;
    background-color: #fff;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $blue;
  }
}

.react-datepicker-popper {
  z-index: 2 !important;
}

body .ui.fullscreen.modal{
  left: unset!important;
}
